{% extends "index.html" %}
{% block content %}

<script src='https://unpkg.com/showdown/dist/showdown.min.js'></script>
<div id=content-entrypoint>
    //
</div>
<script>
const markdown = `
-link to full text

# The United States Constitution

## Introduction
The United States Constitution was written in 1787 and ratified (that is, formally accepted) in 1788. It lays out a _structure_ for our government. It's somewhere between a set of guidelines and a set of rules.

The Constitution is broken into 7 articles. The first 6 outline how our government works, and the last one lays out what has to happen for the Constitution to become the official chart of government for the colonies.

People often mention the Constitution in the same breath as the [Bill of Rights](/bill-of-rights). The Bill of Rights is the first 10 Amendments (or changes) to the Constitution, all of which were passed in 1791. Since then, [17 more have also been passed](/amendments-eleven-through-twenty-seven). However, you shouldn't expect these to be explicit about everything. For example, in the debate about if marijuana should be legal,  lawyers arguing gainst legalization sometimes say that the Constitution includes language that says Congress governs "commerce among the several States, and with Indian Tribes," and that this gives Congress the power to say what can legally be sold. The interpretation of the law often requires lawyers and policymakers to link specific questions, like "Should marijuana be legal," to broad and sometimes vague language, like "Congress oversees trade between states."

One last note: The Constitution describes the structure of our _national_ government, but states and cities/towns have their own constitutions and government charters, too. All of these shape the policies and laws that govern our lives.

## Article 1: Congress
### "All legislative Powers herein granted shall be vested in a Congress of the United States..."

One of the most obvious things our government does is make laws. According to the Constitution, this is Congress's job.  

Article 1 describes the two halves of Congress, [the House of Representatives](/house-of-representatives)
and [the Senate](/the-us-senate), and what each's role is in our government. The highlights are:
* Each can set its own rules for how it operates
* You have to be 30-years-old to be a Senator and 25 to be a member of the House
* An overview of how bills written by either half of Congress may become law 
* Says a little about Impreachment
* [Congress has the power to tax](/taxes), but there are limits to that power 
* Gives a short list of things Congress may do, such as borrowing money and establishing post offices

Article 1 is the longest, and covers the most ground, but if you actually read it, you might be surprised how far from our current government it feels. For example, all it says about the military is that Congress may spend money on "armies," as long as that money covers spending for _no more than 2 years_. Nothing in any amendment has changed this, and yet, given [how much we spend on the military](https://www.thebalance.com/u-s-military-budget-components-challenges-growth-3306320), it's a stretch to imagine that we're adhering sharply to this clause. 

Another, broader example: While the Constitution clearly says that Congress is supposed to pass laws, in recent years, agendas have been often been pushed forward via the other 2 branches of government, the President and the Court system. President Trump, for example, has repeatedly issued [executive orders](/executive-order) to reduce immigration or to carry out a [culturally conservative political agenda](/left-right-political-spectrum). Similarly, [some of most divisive issues](https://www.oyez.org/cases/1971/70-18) in U.S. politics are being settled exclusively through cases that make their way to the Supreme Court](/supreme-court). 


## Article 2: The President
### "The executive Power shall be vested in a President of the United States of America."

The U.S. government is a big, sprawling organization that oversees a large, diverse country. Somebody has to run it and make decisions about its day-to-day operations. This is the role of the exectuive branch, at the head of which is the president. 

The highlights of the second article are:
* How we choose a president (which has since been adjusted by the [12th, 23rd, and 24th Amendments](/amendments-eleven-through-twenty-seven))
* The president is the commander of the army and navy
* The president may appoint people to official positions (ambassadors, Supreme Court judges, etc.)
* The president shall occasionally brief Congress on the "State of the Union" and make recommendations about what they should do

Whatever the intent of this last item, today, it is a purely political event where the president touts their accomplishments and describes the agenda of their polical party for the remainder of the presidential term. (Since 1970, there has even been an "opposition response," where the opposing political party makes an official response.)


## Article 3: The Courts
### "The judicial Power of the United States, shall be vested in one supreme Court, and in such inferior Courts as the Congress may from time to time ordain and establish."

The official job of our federal courts is to decide if laws that Congress makes violate the Constitution & its Amendments, and how to apply laws in specific situations. 

What does it mean to decide how law "applies" to specific situations? Well, as you may know, the [1st Amendment](/bill-of-rights) protects freedom of speech. However, what if you say something that encourages someone else to break the law? Do you get a free pass?

It turns out that it sort of depends. Over the course of the 20th century, the [Supreme Court](/supreme-court)has made several rulings that define exactly how far you can go with what you say. In [a 1927 case](https://en.wikipedia.org/wiki/Whitney_v._California), a woman who helped establish a communist political party was convicted because the group advocated overthrowing the state's government. At that time, the Supreme Court ruled that speech which "tend[ed] to incite crime, disturb the public peace, or endanger the foundations of government" was a step too far. But then, in [a 1969 case](https://en.wikipedia.org/wiki/Brandenburg_v._Ohio)in which a Ku Klux Klan member also advocated for overthrowing the government, the Supreme Court changed its position to say that you can't punish people unless you can prove that their speech is likely to cause people to actually break the law. 

But back to the Constitution. Here are the main things it says about the judicial branch:
* Describes which kinds of cases the Supreme Court may hear
* Congress can establish other courts, which will have less authority than the Supreme Court
* Criminal trials (except impeachment) will be held in front of a jury--not just a judge
* Defines treason as going to war against the U.S. or "giving aid and comfort" to its enemies.


## Article 4: States' powers
### "Full Faith and Credit shall be given in each State to the public Acts, Records, and judicial Proceedings of every other State. And the Congress may by general Laws prescribe the Manner in which such Acts...shall be proved."

The United States is made up of states, those states have the power to make their own laws, other states have to respect those laws--and, ultimately, Congress may decide how those laws may be upheld or overturned in the court system.

Here are the most important points in Article 4:

* States must respect other states' laws. If someone is charged with a crime in one state and escapes to another, the second state must return that person to the first state
* Congress may allow new states to join the United States
* Congress guarantees all states a republican form of government (in other words, a government by people and their elected representatives rather than monarchs)
* The federal government will protect states from invasion, including by other states

## Article 5: We can change the Constitution with Amendments
### "The Congress, whenever two thirds of both Houses shall deem it necessary, shall propose Amendments to this Constitution."

Article 5 sys we can add new amendments to the constitution and briefly describes the process through which this would happen:
1. First, two-thirds of both the Senate and the House of Representatives have to approve a proposed amendment. 
2. State governments vote on the proposed amendment. They're not allowed to propose changes to it.
3. If 75% of state legislatures approve the amendment passes. 

## Article 6: National law is more powerful than state law
"This Constitution, and the Laws of the United States...shall be the supreme Law of the Land." 
This Article has 2 important takeaways:

* The laws that the national government makes are more powerful than laws that state governments make, and state governments can't make a a law that runs counter to the US Constitution
* There is no "religious test" for public officials, meaning you can't prevent someone from holding office because they aren't religious or are a religion you don't like


## Article 7: How the constitution is ratified 
The whole text of Article 7 is:

"The Ratification of the Conventions of nine States, shall be sufficient for the Establishment of this Constitution between the States so ratifying the Same."

So, as long as 9 of the then-13 states agreed, the Constitution would pass.
`
var converter = new showdown.Converter();
var html = converter.makeHtml(markdown);

var content = document.querySelector('#content-entrypoint');
content.innerHTML = html;
</script>

{% endblock %}


