{% extends "index.html" %}
{% block content %}

<script src='https://unpkg.com/showdown/dist/showdown.min.js'></script>
<div id=content-entrypoint>
    //
</div>
<script>
const markdown = 
`
#  "Left" and "right" in U.S. politics

## Overview
"Left" and "right," or left-wing and right-wing, are terms that refer to the ends of the spectrum of political ideas. Left-wing ideas and policies are often aimed at reducing inequality and redistributing resources more evenly among members of a society. Right-wing ideas are usually aimed at preserving the current social order. 

Leftist people and ideas tend to be [liberal or progressive]('/whats-a-liberal'), and right-wing people and ideas more [conservative]('/whats-a-conservative'). Left-leaning people tend to vote for [Democrats]('/whats-a-democrat'), and right-wingers for [Republicans]('/whats-a-republican'). 

That said, political beliefs and political coalitions can get messy, and the above generalizations leave out quite a lot. People don't often place themselves on political spectrums, and they may be in favor of leftist policies for some issues and rightist for others. (People are complicated, which is probably one reason politics is.)

## The "left" of the political spectrum

The term "leftist" isn't just a metaphor. It comes from the French Revolution: When the French Estates General (a legislative body, like Congress) gathered, the group seated on left side favored a revolution that brought down the monarchy. 

This anti-royalty stance is still visible in most of the political groups that occupy the left side of the political spectrum. At the farthest left are people who favor anarchy or socialism, belief systems where power is widely distributed, and no one person or government is in charge. 

Leftists also all want to reduce inequality and increase access to basic needs, such as food, shelter, and healthcare, though they disagree about how to achieve these goals. People who are farther left argue that government should solve problems--make housing more affordable, increase wages, reduce unemployment, etc--and center-left people advocate a combination of government and private industry solutions.

It may sound confusing that some people on the far left are skeptical of letting a government have a lot of power while others think it should solve all social issues--but that's how it is. One (partial) explanation for this is that many leftists are skeptical of private industry and see government solutions as more likely to benefit constituents than shareholders. People who hold this view might prefer [Democratic Socialist]('/democratic-socialist') or extremely [liberal candidates](/'whats-a-liberal'). This doesn't necessarily mean they always vote for the most liberal candidate on the ballot; sometimes it's more practical to vote for a less-liberal but more popular candidate.

At the center-est center left of the political spectrum are people we might call "incrementalists." They may agree with the rest of the left about what problems need to be solved, but they prefer less radical solutions, or at least solutions that are less likely to disrupt everyday life. An incrementalist policy is one that tweaks laws or institutions rather than re-writing or re-building them entirely.

## The "right" of the political spectrum

"Right-wing," like "left-wing," comes from the French Estates General, where lawmakers who sat on the right were in favor of preserving the monarchy. While today's "rightists" (which is not a word you'll often see, probably because it's awkward to say) do have in common that they want to conserve something, they tend to focus on different things.

Religious conservatives want to prevent our values and traditions from changing in ways that run counter to what's written in the Bible, or at least to how Christians have traditionally lived. (You can be a Muslim or Jewish conservative, but Christians make up the broadest group of U.S. religious conservatives). Religious conservatives want to make abortion and gay marriage illegal, and to make prayer in schools mandatory. 

Economic conservatives want to prevent the government from spending more money, or starting new programs or agencies. They often argue that the government should do no more than what the Constitution lays out. They favor lower taxes and less business regulation. 

You might notice that religious and economic conservatism imply policies that run counter to one another. Religious conservatives often want government to play a larger role in American life by restricting or enforcing behaviors. Since wanting the government to do anything usually means expanding it and spending more money, you might think that economic and religious conservatives would be opposed to one another. While there is often tension between these two groups, it's also true that by voting together they increase their collective political power. They usually vote for [Republicans]('/whats-a-republican'), though people who want to dramatically reduce the size of govenment might vote for a [Liberatarian]('/whats-a-libertarian'). Interestingly, hardcore libertarians share with hardcore left-wingers a mistrust of people and organziations with too much power.

One final right-wing stance is _cultural conservatism_. At its most extreme, this perspective takes a Fascist stance and draws from political movements like Naziism. Cultural conservatives want to prevent culture from evolving. They tend to be anti-immigrantm and nationalistic. They often believe that Western European and American culture is intrinsically superior to others. 


## People are complicated and don't often fit neatly on the political spectrum

The left-right spectrum is a tool for understanding the range of perspectives in our politics. However, placing people on a political spectrum is nearly impossible, as their positions and philosophies tend to change from issue to issue. For example, it's possible to believe both that the government should spend less money, but also that it should pay for healthcare. 

`


var converter = new showdown.Converter();
var html = converter.makeHtml(markdown);

var content = document.querySelector('#content-entrypoint');
content.innerHTML = html;
</script>

{% endblock %}

