<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="index,follow"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="author" content="Adam Cogbill"/>
        <meta name="keywords" content="voter registration, registration deadlines, voter ID, voter ID requirements, vote by mail" />
        <meta name="referrer" content="origin"/>
{% block metadata %}
    {% for key, value in metadata.items() %}
        <meta name="{{ key }}" content="{{ value }}"/>
    {% endfor %}
{% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Participation nation</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='nav.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W7SC747');</script>
  <!-- End Google Tag Manager -->

</head>
{% include 'header.html' %}
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7SC747"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

   {% include 'mobile-nav.html'%}

    <div class='container' id="content">
        {% block content %}
        content
        {% endblock %}
    </div>
</body>
   
</html>
