{% extends "index.html" %}
{% block content %}

<script src='https://unpkg.com/showdown/dist/showdown.min.js'></script>
<div id=content-entrypoint>
    //
</div>
<script>
const markdown = `
# What's a Libertarian?

## Introduction 
The Libertarian party was formed in 1971 believes that government should have as small a role as possible in our lives: Everybody should figure out what’s best for themselves. They argue that you don’t need a government to enforce rules, since social pressure and market pressure will do most of the work. For example, imagine that a grocery store was selling apples that made you sick. Libertarians argue that you wouldn’t need a government agency to force them to stop. Instead, the grocery store would suffer the consequences of many fewer people shopping there, and they’d do more to make sure their fruit was safe.

Though the Libertarian party nominates candidates for federal positions, they rarely win; the party is just not popular enough with voters. That said, sometimes [Republican](/whats-a-republican) candidates with libertarian positions do win Congressional races. 

## 5 Libertarian positions:

* Many fewer taxes. Get rid of income tax completely.
* Reduce government influence on the economy. No financial regulations, rent control, minimum wage requirement, etc. 
* Greatly reduce what the government may call a crime, e.g. drug use, sex work, gambling, driving without a seat belt, etc. 
* Freedom of speech. No government censorship of any kind.
* Government organizes a big enough military to defend the U.S., but avoids overseas intervention


## Where do Libertarians fit in with current U.S. politics?

People with Libertarian leanings often vote for Republicans and [conservatives](/whats-a-conservative), since those groups are less likely than [Democrats](/whats-a-democrat) to propose government solutions to social problems. For example, Republicans and Libertarians agree that we should pay less in taxes, there should be fewer regulations on business, and that individuals and private companies should be able to do whatever they want with land and resources they own.  

However, Libertarians also share beliefs with Democrats and [liberals](/whats-a-liberal), such as that government shouldn’t police personal choices that don’t affect other people, such as if 2 men can get married, whether marijuana should be legal.

Libertarian presidential candidates do manage to get on the ballot in most states and get a few votes each year. For example, in 2016, Libertarian candidate Gary Johnson got more than 4 million vote. (This wasn’t enough for any electoral votes, but 4 million’s definitely not nothing.)

## Conflicts within the party

Libertarians differ in...well...just how libertarian the party should be. For example, you’ll hear some staunch libertarians say we should get rid of driver’s licenses, since they’re an instrument of government control. (Presidential candidate Gary Johnson was booed at a libertarian debate for suggesting that a driver’s test isn’t a bad idea.) Other positions, such as ending income tax, abolishing the IRS, getting rid of police, and allowing private businesses to refuse service to anyone for any reason are also controversial. The official Libertarian platform positions itself against the “cult of the omnipotent state,” which is a way of saying that government’s bad and we shouldn’t trust it. 

However, some prominent libertarians hold positions closer to typical Democrats or Republicans, such as that we should intervene in foreign conflicts. Ron Paul, a former presidential candidate with "Libertarian-leaning" views, argued that each state should decide if gay marriage was right for its constituents. The more “pure” Libertarian position would be that no government, state or federal, should intervene in an individual’s personal decision to marry someone.
`
var converter = new showdown.Converter();
var html = converter.makeHtml(markdown);

var content = document.querySelector('#content-entrypoint');
content.innerHTML = html;
</script>

{% endblock %}


