 
  <div class="dropdown-container">
    <button class="dropbtn">Voting info</button>
    <div class="dropdown-content">
      <a href="/">Voting info for every state</a>
      <p><b>How voting works</b></p>
      <a href="/electoral-college">The electoral college</a>
      <a href ='/all-elections'>Elections in the U.S.</a>
      <a href='/just-moved-voting'>How to vote if you just moved</a>
    </div>
  </div>
  
  <div class="dropdown-container">
    <button class="dropbtn">U.S. Government</button>
    <div class="dropdown-content">
      <p><b>Documents</b></p>
      <a href="/bill-of-rights">Bill of Rights</a>
      <a href="/amendments-eleven-through-twenty-six">Amendments 11 through 27</a>
      <p><b>What is/are...</b></p>
      <a href="/executive-order">Executive orders</a>
      <a href="/house-of-representatives">The House of Representatives</a>
      <a href="/the-us-senate">The Senate</a>
      <a href="/supreme-court">The Supreme Court</a>
      <a href="/taxes">Taxes</a>
    </div>
  </div>

  <div class="dropdown-container">
    <button class="dropbtn">U.S. politics</button>
    <div class="dropdown-content">
      <p><b>Parties/organizations</b></p>
      <a href="/whats-a-democrat">Democrats</a>
      <a href="/democratic-socialist">Democratic Socialists</a>
      <a href="/whats-a-republican">Republicans</a>
      <a href="/whats-a-liberatarian">Liberatarians</a>
      <p><b>Belief systems/ideologies</b></p>
      <a href="/whats-a-conservative">Conservative</a>
      <a href="/whats-a-liberal">Liberal</a>
    </div>
  </div>