 
  <div style="margin-right:10px;" class='votebtn'>
    <a style="color:white;" href ='/'>Voting info</a>
  </div>
  
  <div class="dropdown-container">
    <button class="dropbtn">U.S. Government</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="dropdown-container">
    <button class="dropbtn">U.S. politics</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>