{% extends "index.html" %}
{% block content %}

<script src='https://unpkg.com/showdown/dist/showdown.min.js'></script>
<div id=content-entrypoint>
    #
</div>
<script>
const markdown = `
# What does the vice president of the United States do?
_last updated: November 18, 2020_

## Summary
The vice president:
* Becomes president if the current president dies or leaves office
* Oversees [the senate](/the-us-senate), and casts tie-breaking votes

That's pretty much all that [the Constitution](/constitution-united-states) says. However, things have changed since the Constitution was written. Today, the vice president plays a much larger _executive_ role (i.e. in running the government) and a much smaller role in the Senate (i.e. in making laws).

## The vice president's role in the executive branch
As you probably know, the vice president is next-in-line to be president if the president leaves office. However, in today's United States government, the vice president is also an advisor to the president, attends [cabinet meetings](https://en.wikipedia.org/wiki/Cabinet_of_the_United_States), sits on the [National Security Council](https://www.whitehouse.gov/nsc/), and takes a leading role in certain government projects. For example, in 2020, Vice President Pence was put in charge of a Coronavirus Task Force. In 2009, then-VP Joe Biden [played a key role in getting a major stimulus bill through Congress](https://www.npr.org/2020/04/06/828303824/a-look-back-at-how-joe-biden-managed-the-2009-stimulus-package).

## Vice presidents who have become president because the president died or left office
9 vice presidents have had to step in as president since the Constitution was ratified:

* John Tyler (after William Henry Harrison died in 1841)
* Millard Fillmore (after Zachary Tayler died in 1850)
* Andrew Johnson (after Abraham Lincoln was assassinated in 1865)
* Chester Arthur (after James Garfield was assassinated in 1881)
* Theodore Roosevelt (after William McKinley was assassinated in 1901)
* Calvin Coolidge (after Warren Harding died in 1923)
* Harry Truman (after Franklin Roosevelt died in 1945)
* Lyndon Johnson (after John F. Kennedy was assassinated in 1963)
* Gerald Ford (after Richard Nixon resigned in 1974) 

## The vice president's role in the legislative branch (in the senate)
Today, the vice president rarely participates in senate proceedings, except to cast a tie-breaking vote. They certainly don't act, as the constitution imagined, as the "presiding officer" of the senate, which is _supposed_ to mean that they make sure senators follow the official rules, determine who speaks, generally maintain order, etc.

Today, the "presiding" role is played by the most experienced senator in the majority party and is called the "president pro tempore." And the person who _really_ runs the senate is actually the Majority Leader. (I write more about this in [this piece about the senate](/the-us-senate).)

## Parties often pick vice presidents for what their identity symbolizes 
When the U.S. was founded, the vice president was just whoever got the second-most votes in the presidential election. However, it turns out that because political parties are such powerful forces in our politics, this doesn't work so well. Today, vice presidents are important figures within their political parties. They are often selected because political strategists believe that something about them will make more voters support a presidential candidate. For instance, Vice President Pence was picked in part because he's an evangelical Christian, and [Republican](/whats-a-republican) strategists hoped this would help get more evangelical Christians to vote for Donald Trump. Similarly, this year, [Democrats](/whats-a-democrat) nominated Kamala Harris as Joe Biden's vice president partially because woman and people of color (and women of color in particular) are important segments of their voting coalition. 

Just to be clear, the identities of the presidential nominees, Joe Biden and Donald Trump, as older white men, are also meaningful components of their candidacies; the vice president isn't unique in this. However, the vice president is chosen after parties nominate their president, and usally chosen to appeal to people that the president might not, so we often focus a little more on what their identity symbolizes.

## Vice president's salary
The vice president's salary is $235,100 per year. For context, this is a lot more than the average salary for a nurse ($70,000) or an electrician ($55,190), but less than a specialist doctor ($258,000) and a lot less than a CEO ($822,000).

`
var converter = new showdown.Converter();
var html = converter.makeHtml(markdown);

var content = document.querySelector('#content-entrypoint');
content.innerHTML = html;
</script>

{% endblock %}

